:root{
    font-size: 100%;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $color-secondary;
    color: $textdark;
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input, select, textarea, button{
    font-size: 1rem;
    color: $textdark;
}