.post-preview{
    &__picture{
        position: relative;
        min-height: 3rem;

        button{
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
            background-color: $color-primary;
        }
    }
}