.alert{
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;

    &--success{
        color: $success;
        background-color: lighten($success, 55%);
    }

    &--error{
        color: $error;
        background-color: lighten($error, 35%);
    }    
}