.button{
    background-color: transparent;
    border: solid 1px lighten($textdark, 70%);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    transition: border 0.4s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: $textdark;

    &:hover{
        border: solid 1px $textdark;
    }

    &.active{
        border: solid 1px $textdark;
        font-weight: bold;
    }

    &--danger{
        background-color: lighten($error, 35%);
        color: $error;
        border: solid 1px lighten($error, 35%);

        &:hover{
            border: solid 1px $error;
        }
    }

    &--success{
        background-color: lighten($success, 55%);
        color: $success;
        border: solid 1px lighten($success, 55%);

        &:hover{
            border: solid 1px $success;
        }
    }
}