header{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    color: $textlight;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    position: relative;

    h1{
        font-size: 3rem;

        a{
            color: $textlight;
            text-decoration: none;
            position: relative;
            
            &::after{
                content: '';
                display: block;
                width: 80%;
                height: 0.2rem;
                background-color: $color-primary;
                position: absolute;
                left: 0.25rem;
                bottom: 0.25rem;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.4s ease-in-out;

                @include desktop{
                    height: 0.5rem;
                    left: 0.5rem;
                    bottom: 0.5rem;
                }
            }


            &:hover::after{
                transform: scaleX(1);
            }
        }

        @include desktop{
            font-size: 6rem;
        }
    }

    input[type="checkbox"]{
        display: none;
    }

    @include desktop{
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 0;
    }
}
